@import "styles/mixins.module.scss";

.layout {
	position: relative;
	.sider {
		border-right: 1px solid gainsboro;
		text-align: center;

		.menu {
			text-align: start;
			margin-top: 1.5rem;
		}
	}
	.content {
		margin-left: 80px;
		transition: all 0.5s ease;
		width: 100%;
		padding: 1rem;
		min-height: 100vh;
	}
}
