@import "../../styles/mixins.module.scss";

.layout {
	width: 100%;
	min-width: 100%;
	height: 100vh;
	min-height: 100vh;
}

.sider {
	border-right: 1px solid gainsboro;
	text-align: center;
}

.menu {
	text-align: start;
	margin-top: 1.5rem;
}

.content {
	padding: 1rem;
}
